 #navbar {
        margin: 0;
        padding: 0;
        list-style-type: none;
        border: 2px solid #880202;
        border-radius: 20px 5px;
     width: 100%;
         height: 38px;
        text-align: center;
        background-image: url(888888.jpg);
      }
      #navbar li { display: inline; }
      #navbar a {
        color: #fff;
        padding: 2px 6px;
        text-decoration: none;
        font-weight: bold;
        display: inline-block;
        width: 167px;
          margin-top: 8px;
      }
      #navbar a:hover {
        border-radius: 20px 5px;
        background-color: #0066FF;
          padding: 5px 5px;
      }

body {
color:Yellow; 
    background-image:url("537.jpg");
    background-size:cover; 
    background-repeat: no-repeat;
    
  
}


#main-idea {
    text-shadow: 2px 2px 2px #FFFF00;
    color: #9400D3;
    text-align: right;
}

.bl {
    background-color: aqua;
    height: 800px;
    width: 400px;
}

#slide {
 position: relative;
 width: 300px;
 height: 400px;
 padding: 0px;
margin: 0px;

list-style-type: none;

}


.slide {
 position: absolute;
 left: 0px;
 top: 0px;
 width: 100%;
 height: 100%;
 opacity: 0;
 z-index: 1;

 -webkit-transition: opacity 30s;
 -moz-transition: opacity 1s;
 -o-transition: opacity 1s;
 transition: opacity 1s;
    padding: 120px 5px 10px 5px;
}

.showing {
 opacity: 1;
 z-index: 2;
}
